<h2>Let's Start<h2>

Lets first discuss what we are given and what we have to predict.
About our dataset :

We have in our training data :- 
1. date - every date of items sold
2. date_block_num - this number given to every month
3. shop_id - unique number of every shop
4. item_id - unique number of every item
5. item_price - price of every item
6. item_cnt_day - number of items sold on a particular day 

We have in our testing data :- 
1. ID - unique for every (shop_id,item_id) pair.
2. shop_id - unique number of every shop
3. item_id - unique number of every item

Now what we have to predict ?
we have to predict how many items of a type from each shop  will be sold in a whole month.
Our submission should have ID and item_cnt_month columns.

What is our approach?
our approach will be simple.
Our features will be number of items sold in month from a shop excluding last month data because that will our labels, that we help our model learn to predict next sequence. And for testing will use number of items sold in month from a shop excluding first month like this dimension of our data remains same. Our model will predict the next sequence and that we will be our results. This is pretty simple approach but its good for start. Please try some different approaches also. 
And please let me know if I did something wrong. If you like it please vote it up.

<h3>I would appreciate if you could upvote this kernel.<h3>

First of all as we know import required libraries

In [1]:
import numpy as np
import pandas as pd 
import os

In [2]:
#loading data 
os.listdir('../trainData')
sales_data = pd.read_csv('../trainData/12_141691_trainData.csv')
test_data = pd.read_csv('../VerifyData/12_141691_verifyData.csv')

In [3]:
def basic_eda(df):
    print("----------TOP 5 RECORDS--------")
    print(df.head(5))
    print("----------INFO-----------------")
    print(df.info())
    print("----------Describe-------------")
    print(df.describe())
    print("----------Columns--------------")
    print(df.columns)
    print("----------Data Types-----------")
    print(df.dtypes)
    print("-------Missing Values----------")
    print(df.isnull().sum())
    print("-------NULL values-------------")
    print(df.isna().sum())
    print("-----Shape Of Data-------------")
    print(df.shape)

In [4]:
#Litle bit of exploration of data

print("=============================Sales Data=============================")
basic_eda(sales_data)
print("=============================Test data=============================")
basic_eda(test_data)

=============================Sales Data=============================
----------TOP 5 RECORDS--------
   Unnamed: 0       SDATE HOLIDAY   CELEBRATION  STOREID  PRODUCTID LOW_TEMP  \
0           0  2019/01/01       Y  中華民國開國紀念日/元旦       12     141691      16℃
1           1  2019/01/02       N             0       12     141691      16℃
2           2  2019/01/03       N             0       12     141691      17℃
3           3  2019/01/04       N             0       12     141691      18℃
4           4  2019/01/05       Y            週六       12     141691      17℃

  HIGH_TEMP    SKY  ENTRY   EXIT ONSALE  COVID19  TARGET
0       19℃  小雨~中雨  74918  66923      Y        0  38.338
1       18℃  小雨~中雨  76772  66254      Y        0  23.720
2       20℃     小雨  80331  67465      Y        0  24.698
3       26℃     多云  85491  71544      Y        0  21.669
4       21℃   阴~小雨  86558  69783      Y        0  40.014
----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   638 non-null    int64
 1   SDATE        638 non-null    object
 2   HOLIDAY      638 non-null    object
 3   CELEBRATION  638 non-null    object
 4   STOREID      638 non-null    int64
 5   PRODUCTID    638 non-null    int64
 6   LOW_TEMP     638 non-null    object
 7   HIGH_TEMP    638 non-null    object
 8   SKY          638 non-null    object
 9   ENTRY        638 non-null    int64
 10  EXIT         638 non-null    int64
 11  ONSALE       638 non-null    object
 12  COVID19      638 non-null    int64
 13  TARGET       638 non-null    float64
dtypes: float64(1), int64(6), object(7)
memory usage: 69.9+ KB
None
----------Describe-------------
       Unnamed: 0  STOREID  PRODUCTID          ENTRY           EXIT  \
count  638.000000    638.0      638.0     638.000000     638.000000
mean   318.500000     12.0   141691.0   51631.702194   52272.827586
std    184.319017      0.0        0.0   35852.018499   36160.411230
min      0.000000     12.0   141691.0     204.000000     226.000000
25%    159.250000     12.0   141691.0    2196.500000    2062.750000
50%    318.500000     12.0   141691.0   69882.000000   72058.000000
75%    477.750000     12.0   141691.0   80866.750000   81142.750000
max    637.000000     12.0   141691.0  107353.000000  106845.000000

          COVID19      TARGET
count  638.000000  638.000000
mean    22.435737   29.645456
std     59.596878   13.804960
min      0.000000    0.315000
25%      0.000000   20.018750
50%      0.000000   25.987000
75%     13.000000   36.994250
max    319.000000   93.151000
----------Columns--------------
Index(['Unnamed: 0', 'SDATE', 'HOLIDAY', 'CELEBRATION', 'STOREID', 'PRODUCTID',
       'LOW_TEMP', 'HIGH_TEMP', 'SKY', 'ENTRY', 'EXIT', 'ONSALE', 'COVID19',
       'TARGET'],
      dtype='object')
----------Data Types-----------
Unnamed: 0       int64
SDATE           object
HOLIDAY         object
CELEBRATION     object
STOREID          int64
PRODUCTID        int64
LOW_TEMP        object
HIGH_TEMP       object
SKY             object
ENTRY            int64
EXIT             int64
ONSALE          object
COVID19          int64
TARGET         float64
dtype: object
-------Missing Values----------
Unnamed: 0     0
SDATE          0
HOLIDAY        0
CELEBRATION    0
STOREID        0
PRODUCTID      0
LOW_TEMP       0
HIGH_TEMP      0
SKY            0
ENTRY          0
EXIT           0
ONSALE         0
COVID19        0
TARGET         0
dtype: int64
-------NULL values-------------
Unnamed: 0     0
SDATE          0
HOLIDAY        0
CELEBRATION    0
STOREID        0
PRODUCTID      0
LOW_TEMP       0
HIGH_TEMP      0
SKY            0
ENTRY          0
EXIT           0
ONSALE         0
COVID19        0
TARGET         0
dtype: int64
-----Shape Of Data-------------
(638, 14)
=============================Test data=============================
----------TOP 5 RECORDS--------
   Unnamed: 0       SDATE HOLIDAY CELEBRATION  STOREID  PRODUCTID LOW_TEMP  \
0           0  2020/10/01       Y         中秋節       12     141691      22℃
1           1  2020/10/02       N           0       12     141691      23℃
2           2  2020/10/03       Y          週六       12     141691      23℃
3           3  2020/10/04       Y          週日       12     141691      24℃
4           4  2020/10/05       N           0       12     141691      23℃

  HIGH_TEMP    SKY  ENTRY  EXIT ONSALE  COVID19  TARGET
0       27℃   多云~晴   1527  1907      Y        0  31.014
1       28℃      晴   2407  2071      Y        0  29.039
2       29℃   晴~多云    780   648      Y        0  35.925
3       29℃  多云~小雨   2506  1347      N        0  26.894
4       26℃   阴~小雨   1241  1545      Y        0  35.844
----------INFO-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   92 non-null     int64
 1   SDATE        92 non-null     object
 2   HOLIDAY      92 non-null     object
 3   CELEBRATION  92 non-null     object
 4   STOREID      92 non-null     int64
 5   PRODUCTID    92 non-null     int64
 6   LOW_TEMP     92 non-null     object
 7   HIGH_TEMP    92 non-null     object
 8   SKY          92 non-null     object
 9   ENTRY        92 non-null     int64
 10  EXIT         92 non-null     int64
 11  ONSALE       92 non-null     object
 12  COVID19      92 non-null     int64
 13  TARGET       92 non-null     float64
dtypes: float64(1), int64(6), object(7)
memory usage: 10.2+ KB
None
----------Describe-------------
       Unnamed: 0  STOREID  PRODUCTID        ENTRY         EXIT  COVID19  \
count    92.00000     92.0       92.0    92.000000    92.000000     92.0
mean     45.50000     12.0   141691.0  1605.826087  1318.684783      0.0
std      26.70206      0.0        0.0   676.197247   452.021854      0.0
min       0.00000     12.0   141691.0   585.000000   443.000000      0.0
25%      22.75000     12.0   141691.0  1151.000000   894.250000      0.0
50%      45.50000     12.0   141691.0  1413.500000  1319.000000      0.0
75%      68.25000     12.0   141691.0  2058.250000  1570.500000      0.0
max      91.00000     12.0   141691.0  4514.000000  2911.000000      0.0

          TARGET
count  92.000000
mean   23.978902
std     8.946529
min     3.998000
25%    17.219750
50%    22.325000
75%    30.325250
max    51.747000
----------Columns--------------
Index(['Unnamed: 0', 'SDATE', 'HOLIDAY', 'CELEBRATION', 'STOREID', 'PRODUCTID',
       'LOW_TEMP', 'HIGH_TEMP', 'SKY', 'ENTRY', 'EXIT', 'ONSALE', 'COVID19',
       'TARGET'],
      dtype='object')
----------Data Types-----------
Unnamed: 0       int64
SDATE           object
HOLIDAY         object
CELEBRATION     object
STOREID          int64
PRODUCTID        int64
LOW_TEMP        object
HIGH_TEMP       object
SKY             object
ENTRY            int64
EXIT             int64
ONSALE          object
COVID19          int64
TARGET         float64
dtype: object
-------Missing Values----------
Unnamed: 0     0
SDATE          0
HOLIDAY        0
CELEBRATION    0
STOREID        0
PRODUCTID      0
LOW_TEMP       0
HIGH_TEMP      0
SKY            0
ENTRY          0
EXIT           0
ONSALE         0
COVID19        0
TARGET         0
dtype: int64
-------NULL values-------------
Unnamed: 0     0
SDATE          0
HOLIDAY        0
CELEBRATION    0
STOREID        0
PRODUCTID      0
LOW_TEMP       0
HIGH_TEMP      0
SKY            0
ENTRY          0
EXIT           0
ONSALE         0
COVID19        0
TARGET         0
dtype: int64
-----Shape Of Data-------------
(92, 14)

In [8]:
#we can see that 'date' column in sales_data is an object but if we want to manipulate 
#it or want to work on it someway then we have convert it on datetime format
sales_data['date'] = pd.to_datetime(sales_data['date'],format = '%d.%m.%Y')

In [9]:
#now we will create a pivot tabel by going so we get our data in desired form 
#we want get total count value of an item over the whole month for a shop 
# That why we made shop_id and item_id our indices and date_block_num our column 
# the value we want is item_cnt_day and used sum as aggregating function 
dataset = sales_data.pivot_table(index = ['shop_id','item_id'],values = ['item_cnt_day'],columns = ['date_block_num'],fill_value = 0,aggfunc='sum')

In [10]:
# lets reset our indices, so that data should be in way we can easily manipulate
dataset.reset_index(inplace = True)

In [11]:
# lets check on our pivot table
dataset.head()

               shop_id item_id item_cnt_day                        ...        \
date_block_num                            0   1  2  3  4  5  6  7  ... 24 25
0                    0      30            0  31  0  0  0  0  0  0  ...  0  0
1                    0      31            0  11  0  0  0  0  0  0  ...  0  0
2                    0      32            6  10  0  0  0  0  0  0  ...  0  0
3                    0      33            3   3  0  0  0  0  0  0  ...  0  0
4                    0      35            1  14  0  0  0  0  0  0  ...  0  0


date_block_num 26 27 28 29 30 31 32 33
0               0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0

[5 rows x 36 columns]

In [12]:
# Now we will merge our pivot table with the test_data because we want to keep the data of items we have
# predict
dataset = pd.merge(test_data,dataset,on = ['item_id','shop_id'],how = 'left')

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [13]:
# lets fill all NaN values with 0
dataset.fillna(0,inplace = True)
# lets check our data now 
dataset.head()

,ID,shop_id,item_id,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
# we will drop shop_id and item_id because we do not need them
# we are teaching our model how to generate the next sequence 
dataset.drop(['shop_id','item_id','ID'],inplace = True, axis = 1)
dataset.head()

,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)","(item_cnt_day, 7)","(item_cnt_day, 8)","(item_cnt_day, 9)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# X we will keep all columns execpt the last one 
X_train = np.expand_dims(dataset.values[:,:-1],axis = 2)
# the last column is our label
y_train = dataset.values[:,-1:]

# for test we keep all the columns execpt the first one
X_test = np.expand_dims(dataset.values[:,1:],axis = 2)

# lets have a look on the shape 
print(X_train.shape,y_train.shape,X_test.shape)

(214200, 33, 1) (214200, 1) (214200, 33, 1)

In [16]:
# importing libraries required for our model

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM,Dense,Dropout

In [17]:
# our defining our model 
my_model = Sequential()
my_model.add(LSTM(units = 64,input_shape = (33,1)))
my_model.add(Dropout(0.4))
my_model.add(Dense(1))

my_model.compile(loss = 'mse',optimizer = 'adam', metrics = ['mean_squared_error'])
my_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 64)                16896
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
dense (Dense)                (None, 1)                 65
=================================================================
Total params: 16,961
Trainable params: 16,961
Non-trainable params: 0
_________________________________________________________________

In [18]:
my_model.fit(X_train,y_train,batch_size = 4096,epochs = 10)

Epoch 1/10
53/53 [==============================] - 5s 16ms/step - loss: 15.7022 - mean_squared_error: 15.7022
Epoch 2/10
53/53 [==============================] - 1s 15ms/step - loss: 15.3576 - mean_squared_error: 15.3576
Epoch 3/10
53/53 [==============================] - 1s 15ms/step - loss: 30.5968 - mean_squared_error: 30.5968
Epoch 4/10
53/53 [==============================] - 1s 15ms/step - loss: 17.4593 - mean_squared_error: 17.4593
Epoch 5/10
53/53 [==============================] - 1s 15ms/step - loss: 24.7309 - mean_squared_error: 24.7309
Epoch 6/10
53/53 [==============================] - 1s 15ms/step - loss: 10.6984 - mean_squared_error: 10.6984
Epoch 7/10
53/53 [==============================] - 1s 15ms/step - loss: 53.7667 - mean_squared_error: 53.7667
Epoch 8/10
53/53 [==============================] - 1s 15ms/step - loss: 21.7434 - mean_squared_error: 21.7434
Epoch 9/10
53/53 [==============================] - 1s 15ms/step - loss: 6.4366 - mean_squared_error: 6.4366
Epoch 10/10
53/53 [==============================] - 1s 15ms/step - loss: 76.9451 - mean_squared_error: 76.9451

In [20]:
# creating submission file 
submission_pfs = my_model.predict(X_test)
# we will keep every value between 0 and 20
submission_pfs = submission_pfs.clip(0,20)
# creating dataframe with required columns 
submission = pd.DataFrame({'ID':test_data['ID'],'item_cnt_month':submission_pfs.ravel()})
# creating csv file from dataframe
submission.to_csv('sub_pfs.csv',index = False)